<%-include('partials/header'); -%>

<h1>📲Contact📲</h1>
<hr>
<div class="container">
<p>Email: <a href="mailto:dejunjackson18@gmail.com">dejunjackson18@gmail.com</a></p>
<p>Github: <a href="https://github.com/DejunJackson">https://github.com/DejunJackson</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/dejun-jackson/">https://www.linkedin.com/in/dejun-jackson/</a></p>
<p>Twitter: <a href="https://twitter.com/Afro_codes">https://twitter.com/Afro_codes</a></p>
</div>

</body>
</html>
