
<%-include('partials/header'); -%>


    <div class="intro container my-5">
      <h1>Hello my name is <strong style='color: red'>Dejun Jackson</strong></h1>

    </div>

    <div class=>
      <img src="images/profile-pic.jpg"  class="profile"   alt="A picture of me">
    </div>


<%-include('partials/footer'); -%>
