<%-include('partials/header'); -%>

<h1 id="title">🚧Projects🚧</h1>
<hr class="mt-5">
<div class="container">
  <div class="row">
    <div class="col">
      <h2><strong style='color: red'>Name</strong>: <a href="https://github.com/DejunJackson/madlibs-showdown">madlibs-showdown (In development)</a></h2>
      <p><strong style='color: red;' >Description</strong>: A Django app that lets users log in and play with single player and multiplayer games. Tracks scores and displays highest scores in a leaderboards.</p>
      <p><strong style='color: red'>Tech</strong>: Python, Django, Postgres, Docker, AWS?</p>
    </div>
    <div class="col">
      <a href="https://github.com/DejunJackson/madlibs-showdown"><img src="images/madlibs-showdown.png" class='home-img' alt="Github repository"></a>
    </div>
  </div>
  <hr class="mt-5">
  <div class="row">
    <div class="col">
      <h2><strong style='color: red;'>Name</strong>: <a href="https://github.com/DejunJackson/github-tweeter-bot">github-tweeter-bot</a></h2>
      <p ><strong style='color: red;' >Description</strong>: This is a python script that uses the Github API to get your latest new Github repository and uses the Twitter API to post details about it. This works great when automated!</p>
      <p><strong style='color: red;'>Tech</strong>: Python, Twitter API, Github API</p>
    </div>
    <div class="col">
      <a href="https://github.com/DejunJackson/github-tweeter-bot"><img src="images/tweeter-bot.png" class='home-img' alt="Github repository" ></a>
    </div>
    <hr class="mt-5">
    <div class="row">
      <div class="col">
        <h2><strong style='color: red'>Name</strong>: <a href="https://github.com/DejunJackson/league-of-legends-api">league-of-legends-api</a></h2>
        <p><strong style='color: red;' >Description</strong>: This is an API that returns data about characters in a game called League of Legends. Created using data I got from webscraping. This API is also fully tested. Deployed on <a href="https://rapidapi.com/DejunJackson/api/league-of-legends-stats">RapidAPI</a></p>
        <p><strong style='color: red'>Tech</strong>: Python, Beautiful Soup, FastAPI, Pytest</p>
      </div>
      <div class="col">
        <a href="https://rapidapi.com/DejunJackson/api/league-of-legends-stats"><img src="images/lol-api.png" class='home-img' alt="Github repository"></a>
      </div>
  </div>
  <hr class="mt-5">
  <div class="row">
    <div class="col">
      <h2><strong style='color: red'>Name</strong>: <a href="https://github.com/DejunJackson/Madlibs">madlibs</a></h2>
      <p><strong style='color: red;' >Description</strong>: A console-based python game that can be played with multiple players. This uses a SQL database to keep track of highscores which can be viewed in the leaderboards option.</p>
      <p><strong style='color: red'>Tech</strong>: Python, mySQL</p>
    </div>
    <div class="col">
      <a href="https://github.com/DejunJackson/Madlibs"><img src="images/madlibs.png" class='home-img' alt="Github repository"></a>
    </div>
</div>
<hr class="mt-5">
<div class="row">
  <div class="col">
    <h2><strong style='color: red'>Name</strong>: <a href="https://github.com/DejunJackson/TLGS-Blog">Nodejs Blog Website</a></h2>
    <p><strong style='color: red;' >Description</strong>: A Blog with a content management system using Nodejs. Deployed <a href="http://quiet-waters-52439.herokuapp.com/">here</a></p>
    <p><strong style='color: red'>Tech</strong>: Html/CSS, Bootstrap, Javascript, EJS, Nodejs(Express), Mongodb(Mongoose), Heroku </p>
  </div>
  <div class="col">
    <a href="https://github.com/DejunJackson/TLGS-Blog"><img src="images/nodejs-blog.png" class='home-img' alt="Github repository"></a>
  </div>
</div>
<hr class="mt-5">
<div class="row">
  <div class="col">
    <h2><strong style='color: red'>Name</strong>: <a href="https://github.com/DejunJackson/pytalk">pytalk</a></h2>
    <p><strong style='color: red;' >Description</strong>: A console based server/client application that uses python websockets and multithread programming to connect multiple users to multiple chatrooms</p>
    <p><strong style='color: red'>Tech</strong>: Python, websocket programming</p>
  </div>
  <div class="col">
    <a href="https://github.com/DejunJackson/pytalk"><img src="images/pytalk.png" class='home-img' alt="Github repository"></a>
  </div>
</div>
<hr class="mt-5">
<div class="row">
  <div class="col">
    <h2><strong style='color: red'>Name</strong>: <a href="https://github.com/DejunJackson/TicTacToe">tic-tac-toe</a></h2>
    <p><strong style='color: red;' >Description</strong>: A Tic-Tac-Toe game made with Javascript. Deployed <a href="https://frosty-torvalds-3b3550.netlify.app/">here</a></p>
    <p><strong style='color: red'>Tech</strong>: Html/CSS, Javascript, JQuery</p>
  </div>
  <div class="col">
    <a href="https://github.com/DejunJackson/TicTacToe"><img src="images/tictactoe.png" class='home-img' alt="Github repository"></a>
  </div>
</div>
</div>
</div>
</body>
</html>
