<%-include('partials/header'); -%>

<h1>🖥️Skills🖥️</h1>
<hr>
<div class="container">
  <p>
    <strong style='color: red'>Languages</strong>: Python, Javascript, Java
    </p>
    <p>
        <strong style='color: red'>Frontend</strong>: Html/CSS, Bootstrap, Javascript, jQuery
    </p>
    <p>
        <strong style='color: red'>Backend</strong>: Flask, Django, Nodejs, Express
    </p>
    <p>
        <strong style='color: red'>Databases</strong>: SQL(Postgres, MySQL) and NoSQL(MongoDB)
    </p>
    <p>
        <strong style='color: red'>Tools</strong>: Docker
    </p>
    <p>
      <strong style='color: red'>Design Patterns</strong>: OOP, MVC, MVT
    </p>
    <p>
      <strong style='color: red'>Misc</strong>: ORMs, Entity Relationship Diagrams, APIs, Testing, Webscrapers
    </p>

</div>
<%-include('partials/footer'); -%>
