
<%-include('partials/header'); -%>

<h1>📖My Story📖</h1>
<hr>
<div class="container">
  <p>
    In May of 2020, I graduated from <a href="https://neuroscience.olemiss.edu/">Ole Miss with a Psychology/Neuroscience Degree</a>  (w/ honors), <strong style="color:blue;">Hotty</strong> <strong style="color:red;">Toddy!</strong>
  </p>
  <p>
    During my time there, I was heavily invested into Neuroscience research.
  </p>
  <p>
    I worked in a Neuroscience lab as an Undergraduate Research Assistant, <a href='https://twitter.com/olemissbms/status/1195381222702112768'>I presented at National Conferences</a>, and <a href="https://egrove.olemiss.edu/hon_thesis/1445/">published an honors thesis on the research I did.</a>
  </p>
  <p>
    It was also during that time that I decided to take a couple of Computer Science Courses.
  </p>
  <p>
    In those courses, I learned the basics of computer programming using Java.
  </p>
  <p>
    The projects I made were really fun! You can see some of them <a href="https://github.com/DejunJackson/college-projects">here.</a>
  </p>
  <p>
    It was through those courses that I developed a genuine curiousity about software.
  </p>
  <p>
    After graduation, I took a job at <a href="https://missouri.edu/">Mizzou</a> as a Medical Research Assistant.
  </p>
  <p>
    However, I still wanted to keep learning and developing software.
  </p>
  <p>
    Though, I mainly wanted to start making software that I could share with my wife (who is a visual person).
  </p>
  <p>
    This led me into exploring the Javascript Ecosystem. I started learning and making projects in HTML/CSS, Javascript, Nodejs, and MongoDB for about a year.
  </p>
  <p>
    In the present day, I still reside in Columbia, MO but my curiosity has led me to exploring the Python Ecosystem.
  </p>
  <p>
    I still have love for Java and Javascript! But these days I am building cool projects like <a href="https://github.com/DejunJackson/github-tweeter-bot">Twitter bots</a>, <a href="https://github.com/DejunJackson/league-of-legends-api">APIs</a>, <a href="https://github.com/DejunJackson/pytalk">Chat Apps</a>, and <a href="https://github.com/DejunJackson/madlibs-showdown">Web Games</a> using Python, Flask, Django and NoSQL databases.
  </p>
  <p>
    I am currently searching for a Fullstack or Backend role, so if you have or know of an opportunities, please <a href="/contact">contact me!</a>
  </p>
</div>



<%-include('partials/footer'); -%>
