h1{
  font-size: 3rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-top: 2%;
}

body{
  background-color: #FEF5ED;
}

a {
  text-decoration: none;
  color: #99A799;
}
a:hover {
  background-color: #FEF5ED;
}
.nav-link{
  font-size: 1.5rem;
}
/* home styles */
.home-links{
  list-style-type: none;
  font-weight: bold;
  font-size: 7rem;
}


p{
  font-family: 'Press Start 2P', cursive;
}



nav{
  background-color: #ADC2A9;
  font-family: 'Press Start 2P', cursive;
}

p{
  font-size: 1.5rem;
  margin-top: 3%;
}


.profile{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  max-width:40%;
  height:auto;
}
