h1{
  font-size: 5rem;
  text-align: center;
}

body{
  background-color: #FEF5ED;
}

a {
  text-decoration: none;
  color: #99A799;
}

.nav-link{
  font-size: 2rem;
}
/* home styles */
.home-links{
  list-style-type: none;
  font-weight: bold;
  font-size: 7rem;
}






nav{
  background-color: #ADC2A9;
}



.profile{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  max-width:40%;
  height:auto;
}
