h1{
  font-size: 3rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-top: 2%;
}

body{
  background-color: #FEF5ED;
}

a {
  text-decoration: none;
  color: #99A799;
}
a:hover {
  color: #11324D;
}
.nav-link{
  font-size: 1.5rem;
}
/* home styles */
.home-links{
  list-style-type: none;
  font-weight: bold;
  font-size: 7rem;
}
h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
}
h5{
  font-family: 'Press Start 2P', cursive;
}
p {
  font-size: 1.5rem;
  margin-top: 3%;
  font-family: 'Press Start 2P', cursive;
}



nav{
  background-color: #ADC2A9;
  font-family: 'Press Start 2P', cursive;
}
.profile{
position: relative;
left: 50%;
transform: translateX(-50%);
max-width: 100%;
 text-align: center;
}
.profile-pic{

  border-radius: 50%;
  width: 40%;
  height:auto;
}
html, body {
    height: 100%;
}
